.idea
.vscode



*/vendor


ai-dashboard/frontend/node_modules/
ai-dashboard/frontend/dist/
ai-dashboard/frontend/npm-debug.log*
ai-dashboard/frontend/yarn-debug.log*
ai-dashboard/frontend/yarn-error.log*
ai-dashboard/frontend/package-lock.json
ai-dashboard/frontend/tests/**/coverage/

ai-dashboard/frontend/*.suo
ai-dashboard/frontend/*.ntvs*
ai-dashboard/frontend/*.njsproj
ai-dashboard/frontend/*.sln

ai-dashboard/backend/target/
ai-dashboard/backend/src/main/resources/static/static/



ai-dev-console/vendor/
ai-dev-console/console/frontend/node_modules
ai-dev-console/console/frontend/npm-debug.log*
ai-dev-console/console/frontend/yarn-debug.log*
ai-dev-console/console/frontend/yarn-error.log*
ai-dev-console/console/frontend/package-lock.json
ai-dev-console/console/frontend/dist/
ai-dev-console/console/frontend/src/.umi/



commit-agent/bin/
**/.git-commit


add_head.py